# Ignore build artifacts
build/
dist/
out/
.cache/
public/

# Ignore node_modules directory
node_modules/

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env