.kanban-board {
  display: flex;
  padding: 20px;
  width: fit-content;
}

.add-column-button {
  transform: translateX(-10px);
  height: 38px;
}

.add-column-container:hover {
  /* change opacity to 1 when this is live in prod */
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.add-column-container {
  opacity: 0;
  display: grid;
  place-items: center;
  width: 21px;
}

.add-column-container-end {
  margin: 10px;
}

.column-button-end {
  display: flex;
  align-items: center;
  width: max-content;
}

.kanban-column {
  background-color: #fafafa;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.kanban-column-title {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.kanban-task-list {
  min-height: calc(100vh - 230px);
}

.kanban-task {
  background-color: white;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  min-height: 150px;
}

.button-container {
  display: flex;
  gap: 4px; /* Adjust the value to control the padding between buttons */
}

.card {
  margin: 8px 0;
}

.kanban-task {
  background-color: white;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  position: relative; /* Relative positioning for the card */
}

.button-container {
  position: absolute;
  bottom: 1rem; /* Position at the bottom */
  right: 1rem; /* Position at the right */
  display: flex;
  gap: 8px; /* Adjust the value to control the padding between buttons */
}

.card-text {
  margin-bottom: 4rem;
}

.card-text-area {
  margin-bottom: 1rem;
}