.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.login-container, .login-button-container {
    display: grid;
    justify-content: center;
}

.welcome-text {
    text-align: center;
    margin-top: 2rem;
}

.app-logo {
  width: auto;
  height: 30rem;
  animation: pulse 4s infinite; /* Use any duration you prefer */
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1); /* Scale up to 110% */
  }
  100% {
      transform: scale(1);
  }
}